/* Please refer to bootstrap.css for header CSS including
   caption text(s)*/


html { 
	margin: 0;
  height: 100%;
}

@font-face { 
  font-family: 'Moderne';
  src: url('/fonts/Moderne.ttf');
}
/* ======== Wrapper CSS ======== */ 
.wrapper {
  max-width: 100%;
  position: relative;
  min-height: 100%;
  margin: 0 auto -80px;
}



/* ======== Main Content CSS ======== */ 

.more-content-wrap {
  position: relative;
  width: 60%;
  margin: 0 auto;
  font-family: 'Moderne';
  margin-bottom: 5%;
}
.more-content-wrap a {
  text-decoration: none;
}
.more-link { 
  text-align: center;
}
.more-link .arrow-icon { 
  bottom: 0;
}
.more-title h3 {
  font-size: 58px;
  text-align: center;
}
.more-title hr {
  width: 20%;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #BDB1B1;
}
.more-content { 
  position: relative;
  padding-top: 48px;
}
.more-content p {
  font-size: 24px;
  text-align: justify;
  line-height: 44px;
}
.more-content p.sub-para {
  text-align: center;
  padding-top: 24px;
}

/* ======== Works-preview CSS ======== */ 

.works-wrap {
  padding-top: 2%;
  position: relative;
  height: 100%;
}

hr.page-break  { 
  width: 70%;
  margin-top: 42px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #BDB1B1;
}

.works-preview-box {
  margin: 0 auto;
	height: 200px;
	width: 200px;
	background: #92AF00;
	border-radius: 50%;
	border: 6px solid #fff;
}

.icon {
	font-size: 8em;
	padding: 16% 22%;
}

.works-preview-container { 
  position: relative;
  z-index: 1;
  font-family: 'Rajdhani', sans-serif;
  width: 33%;
  float: left;
  padding: 0.4%;
  -webkit-box-sizing: border-box; /* Safari, Chrome & Opera support */ 

}

.works-preview-container { 
 -webkit-perspective: 1000;
}

.works-preview-container a { 
  text-decoration: none;
  color: inherit;
}

hr.works-preview-break  {
  display: none;
}

.works-preview-title {
  position: relative;
  padding-top: 184px;
  text-align: center;
}

.works-preview-card {
  width: 100%;
  height: 100%;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: all 1.0s linear;
}

.works-preview-container:hover .works-preview-card {
  -webkit-transform: rotateY(180deg);

}

.face { 
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  text-decoration: none;
}

.face a {
  color: inherit;
  text-decoration: none;
}

.face.back p {
  padding: 25% 13%;
  font-weight: bold;
  font-size: 28px;
}

.face.back {
  display: block;
  -webkit-transform: rotateY(180deg);
  -webkit-box-sizing: border-box;
  color: white;
  text-align: center;
}

.arrow-icon {
  position: relative;
  bottom: 52px;
}

.works-preview-title h2 {
  text-align: center;
  font-size: 44px;
  font-weight: bold;
  letter-spacing: 1px;
}

.works-preview-text {
  font-size: 22px;
  width: 50%;
  margin: 0 auto;
}

/* ======== Contact CSS ======== */ 

.contact-form-wrap {
  width: 25%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 6%;
}
.contact-name-box .contact-email-box {
  position: relative;
  width: 45%;
  margin: 10%;
}
.contact-email-box {

}
.contact-message-box {
  width: 100%;
}
.mail-icon {
  width: 300px;
  height: 300px;
  float: left;
  background: #92AF00;
  border-radius: 50%;
  border: 6px solid #fff;

}
.fa-envelope {
  font-size: 15em;
  padding: 11% 14%;
}
/* ======== Footer CSS ======== */ 
footer {
  position: relative;
  width: 100%;
  bottom: 0;
  height: 80px;
}
.push {
  height: 80px;
}

.footer-wrap {
  position: relative;
  width: 100%;
  border-top: 1px solid #BDB1B1;
  font-family:  'Rajdhani', sans-serif;
}
.footer-contain {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}
.footer-text {
  margin: 2%;
}
.footer-text p {
  font-size: 24px;
  font-weight: bold;
}




